#de-oro {
  padding: 20px;
  border: thick solid orange;
}

table {
  margin: 20px;
}

h1 {
  font-family: Helvetica;
}

#main-image {
  width: 640px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
